.psuedo {
  height: 72px;
}

.header-wrap {
  position: fixed;
  z-index: 10000;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: $white;
  @include bx-shadow;

  .logo-container-wrap {
    z-index: 2;
    margin-top: 5px;
    margin-left: 1.8rem;
    margin-bottom: 1.2rem;
    display: flex;

    .logo {
      @media (max-width: $sz-x-s) {
        top: -5px;
      }

      img {
        width: 40px;
        height: 40px;
      }
    }

    .logo-container {
      margin-left: 1.8rem;
      @include center;
      flex-direction: column;

      .logo-net-frontier p {
        font-size: 2.5rem;
        display: block;
        color: $dark-grey-blue;
        font-weight: 800;
        font-family: 'Ubuntu', sans-serif !important;
        line-height: 1.8rem;


        @media (max-width: $sz-x-s) {
          font-size: 2rem;
        }
      }

      .logo-subheading p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        display: block;
        font-size: 1.3rem;
        color: $mid-orange;

        @media (max-width: $sz-x-s) {
          font-size: 1rem;
        }
      }
    }
  }

  .nav-link-container {
    margin-right: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .contact-details {
      margin-top: 10px;
      display: flex;
      align-items: center;

      .tel {
        margin-right: 1.8rem;

        a {
          color: $dark-grey-blue;
          font-size: 1.6rem;
          transition: 300ms;

          span {
            font-weight: 500;
          }
        }

        a:hover {
          color: $mid-orange;
        }

        @media (max-width: $sz-m) {
          display: none;
        }
      }

      .social-links {
        border-radius: 12px;
        @include center;

        @media (max-width: $sz-m) {
          display: none;
        }

        a {
          cursor: pointer;
          @include center;
          margin: 0 4px;

          img {
            width: 20px;
            height: 20px;
            transition: filter 200ms;
          }
        }

        a:hover {
          img {
            filter: grayscale(1);
          }
        }

        a:last-child {
          margin-right: 0;
        }
      }
    }

    .nav {
      display: flex;
      width: 100%;
      z-index: 10;
      padding-bottom: 10px;

      @media only screen and (max-width: $sz-m) {
        display: none;
      }

      ul {
        position: relative;
        display: flex;
        align-items: center;


        li {
          margin-top: 10px;

          a {
            padding: 0 20px 10px;
            font-size: 1.6rem;
            color: $dark-grey-blue;
          }

          a:last-child {
            padding-right: 0;
          }
        }

      }


    }
  }

  @media only screen and (max-width: $sz-m) {
    height: 72px;
  }
}

.drop-down {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
  right: 293px;
  z-index: 1010;
  top: -250px;
  background: linear-gradient(98deg, $vdark-grey-blue, $dark-grey-blue);
  transition: 200ms;
  @include bx-shadow-two;
  border-radius: 0 0 $border $border;

  .drop-down-links {
    margin: 0.9rem;
    margin-bottom: 0;

    a {
      text-align: center;
      color: $white;
      transition: 200ms;
      padding: 10px;
      width: 195px;
      display: block;
      border: 1px solid #ffffff1a;

    }
  }

  .drop-down-links:last-child {
    margin-bottom: 0.9rem;
  }

  a:hover {
    background-color: $white;
    color: $dark-grey-blue;
  }
}