.hero-wrap-standard {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    height: 30vh;
    width: 100vw;
    min-height: 325px;

    // Squares
    .squares-container-standard {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;

        .square-wrap-standard {
            position: absolute;
            transform: rotate(405deg);
            left: calc(50% - 13vw);
            filter: drop-shadow(40px 40px 40px rgba(50, 50, 0, 0.08));
            animation: spins 3s;
            animation-timing-function: ease-out;

            @keyframes spins {
                0% {
                    transform: rotate(45deg);
                }

                100% {
                    transform: rotate(405deg);
                }
            }

            .square-standard {
                background-color: $white;
                clip-path: polygon(0% 0%,
                        0% 100%,
                        25% 100%,
                        25% 25%,
                        75% 25%,
                        75% 75%,
                        25% 75%,
                        25% 100%,
                        100% 100%,
                        100% 0%);
                width: 26vw;
                height: 26vw;
                @include bx-shadow-two;
            }

            .square-standard-two,
            .square-standard-three {
                width: 16vw;
                height: 16vw;
            }

            .white {
                background-color: $white;
            }

            .blue {
                background-color: #005dff26;
            }

            .orange {
                background-color: #ffb19b98;
            }

            .green {
                background-color: #97f8b1af;
            }
        }

        .square-wrap-two-standard {
            left: calc(30% - 13vw);
        }

        .square-wrap-three-standard {
            left: calc(80% - 13vw);
        }
    }

    .mission-statement-standard {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mission-statement-standard h1 {
        font-size: 6.5rem;
        color: $dark-grey-blue;
        padding: 0 $m-size;

        @media only screen and (max-width: $sz-xl) {
            font-size: 5rem;
        }

        @media only screen and (max-width: $sz-s) {
            max-width: 345px;
            font-size: 3.5rem;
        }
    }

    .sub-heading-standard h2 {
        margin-top: $l-size;
        padding: 0 $m-size;
        font-size: $l-size;
        font-weight: $light;
        color: $dark-grey-blue;

        @media only screen and (max-width: $sz-xl) {
            font-size: 3rem;
        }

        @media only screen and (max-width: $sz-s) {
            font-size: 2rem;
        }
    }
}