.scroller {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
  position: fixed;
  bottom: 65px;
  right: 17px;
  width: 30px;
  height: 28px;
  z-index: 1000000;
  border-radius: 3px;
  background-color: $mid-orange;
  box-shadow: 3px 4px 15px 2px #00000015;
  transition: 300ms;
  cursor: pointer;
  padding-top: 3px;

  a img {
    display: block;
    width: 24px;
    // margin-bottom: -5px;
  }
  a {
    margin-bottom: 5px;
  }

  &:hover {
    background-color: #444444;
  }
}
