.questionnaire-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: $l-size auto;
    border-radius: $border;

    @media only screen and (max-width: $sz-m-s) {
        margin: $l-size;
    }

    @media only screen and (max-width: $sz-s) {
        margin: 0 1.8rem;
    }

    h1 {
        margin: 5rem 0 3.6rem;

        @media only screen and (max-width: $sz-s) {
            font-size: 3rem;
        }
    }


    form {
        width: 90%;
        max-width: 1200px;

        .name-company-wrap {
            display: flex;

            .q-one {
                margin-right: 1.8rem;
            }

            .q-two {
                margin-left: 1.8rem;
            }

            .company-details {
                width: 50%;



                input {
                    width: 100%;
                }

            }


        }
    }

    input {
        margin: 1.8rem 0;
    }

    .text-area {
        height: 100px;
        margin: 1.8rem 0;
    }

    .questionnaire-buttons {
        width: 100%;
        margin: 1.8rem 0 3.6rem;

        button {
            background-color: $mid-orange;
            @include bx-shadow-two;
            color: $white;
            font-weight: 100;
            width: 100%;
            transition: 300ms;
            cursor: pointer;
            height: 60px;
            outline: none;
            border: none;
        }

        button:hover {
            @include bx-shadow;
            background-color: $dark-grey-blue;
        }
    }
}