// spacing and sizes
$t-size: 0.2rem;
$t-m-size: 0.5rem;
$xs-size: 1rem;
$xxs-size: 1.5rem;
$s-size: 1.8rem;
$m-size: 2rem;
$m-l-size: 3rem;
$l-size: 3.6rem;
$xl-size: 5rem;
$xxl-size: 6rem;
//font-weight
$light: 100;
$bold: 800;

//width
$s-width: 15rem;
$m-width: 18rem;
$desktop-width: 160rem;
$desktop-width-adjust: 114rem;
$desktop-width-adjust-two: 118rem;

//height
$m-height: 380px;
$s-height: 180px;

//radius
$border: 0.3rem;

//variables
$var-size-one: 15%;
$var-size-two: 7.5%;
$var-size-three: 5.5%;
$var-size-four: 10%;
$var-size-five: 20%;

// colors
$white: #fff;
$light-grey: #9c9c9c;
$vdark-grey-blue: #2b2c2e;
$dark-grey-blue: #43464b;
$light-grey-blue: rgba(77, 71, 90, 0.479);
$light-orange: #f0957c;
$mid-orange: #ea7857;
// $mid-orange:#ff5103;
$dark-orange: #f86d43;
// $mid-blue: #6ea2fa;
$mid-blue: #4f8fff;
$light-blue: #f8f8f8;
$dark-blue: #4b8af7;
// $mid-green: #32d57b;
$mid-green: #29b84f;

//background
$background-one: rgba(255, 255, 255, 0);
$background-two: $dark-grey-blue;
$background-three: #ffffff21;
$background-light-grey: #f5f6f7;

//border
$border-white: $t-size solid $white;
$border-dark-grey-blue: $t-size solid $dark-grey-blue;
$border-orange: $t-m-size solid $mid-orange;
$border-dark-orange: 10px solid $dark-orange;
$border-dark-blue: 10px solid $dark-blue;